@use '../../../utils/themes/light.scss';

.footer {
  padding-top: 76px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: normal;
  background-color: light.$color_footerDesk;
}

@media screen and (max-width: 1279.5px) {
  .footer {
    background-color: transparent;
  }
}

@media screen and (max-width: 767.5px) {
  .footer {
    padding-top: 79px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: normal;
    background-color: light.$color_footerDesk;
  }
}