@use '../../../../utils/themes/light.scss';

.input__input {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0 0 10px 0;
  border-bottom: 1px solid light.$color_accentSecond;
}

.input__input::placeholder {
  color: light.$color_textDescription;
  font-weight: 400;
}

.input__input:focus {
  border-color: light.$color_accentMain;
}