@use '../../../../utils/themes/light.scss';

.student__portfolio-title {
  color: light.$color_textDescription;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 51px 0;
}

@media screen and (max-width: 767.5px) {
  .student__portfolio-title {
    margin-top: 70px;
    font-size: 14px;
    margin-bottom: 41px;
  }
}