$contentWidth: 410px;
$paddingDesk: 70px;

$paddingTabletTop: 236px;
$paddingTabletBot: 269px;

$paddingTopTop: 70px;
$paddingMobBot: 40px;


.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-height: calc(100vh - 2 * $paddingDesk - 74px);
  width: 410px;
  padding-top: $paddingDesk;
  padding-bottom: $paddingDesk;
}

@media screen and (max-width: 1279.5px) {
  .profile {
    width: 410px;
    min-height: calc(100vh - $paddingTabletTop - $paddingTabletBot - 74px);
    padding-top: $paddingTabletTop;
    padding-bottom: $paddingTabletBot;
  }
}

@media screen and (max-width: 767.5px) {
  .profile {
    align-items: center;
    width: 260px;
    min-height: calc(100vh - $paddingTopTop - $paddingMobBot - 74px);
    padding-top: $paddingTabletTop;
    padding-top: $paddingTopTop;
    padding-bottom: $paddingMobBot;
  }
}