@use '../../../../utils/themes/light.scss';

.form__field {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid light.$color_accentSecond;
  margin-bottom: 16px;
}

.form__field:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}