.mobile-menu__close-btn {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  background-color: transparent;
  background-position: center;
  border: none;
  position: absolute;
  top: 29px;
  right: 29px;
}

@media screen and (max-width: 600px) {
  .mobile-menu__close-btn {
    top: 20px;
    right: 20px;
  }
}