.menu__item_active {
  font-weight: 500;
}

@media screen and (max-width: 1279.5px) {
  .menu__item_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
  }
}

@media screen and (max-width: 767.5px) {
  .menu__item_active {
    padding-bottom: 7px;
  }
}