.mobile-menu {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.3s ease-in-out;
  z-index: 999;
}

@media screen and (min-width: 1279.5px) {
  .mobile-menu {
    display: none;
  }
}