.tech__title {
  max-width: 600px;
  margin: 24px 0 26px 0;
  align-self: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
}

@media screen and (max-width: 1279.5px) {
  .tech__title {
    margin: 14px 0 22px 0;
  }
}

@media screen and (max-width: 767.5px) {
  .tech__title {
    margin: 0px 0 24px 0;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }
}